.background-1 {
  padding: 150px 10px 150px 30px;
  background: url(../images/traffic.png) no-repeat center;
  color: black;
}

.landing-section-2 {
  padding: 10px 10px 50px 10px;
  background-color: #FFFFFF;
  color:  black;
}

.landing-section-5 {
  padding: 20px 10px 20px 10px;
  background-color: black;
  color: #FFFFFF;
}


.landing-section-1-welcome {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 72px;
}

.landing-section-header {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 36px;
}
